main.container {
display: grid;
gap: 20px;
grid-template-areas:
  "logo"
  "content"
  "sidebar";

}
.logo { grid-area: logo }
.sidebar { grid-area: 1 / 1 / 2 / 2; }
.content { grid-area: 1 / 2 / 2 / 5; }